body {
  background-color: rgb(253,214,175);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(226,153,61);
  padding: 14px;
  align-items: center;
}
.nav-title {
  color: rgb(165, 32, 15);
}
.share-btn {
  border: none;
  margin-right: 10px;
  background-color: rgb(226,153,61);
}
.like-btn {
  border: none;
  background-color: rgb(226,153,61);
}

.recipe-image {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.recipe-image-container {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-name {
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 8px;
  margin: 0;
}

.body-container {
  margin: 10px 20px 30px 20px;
}

.body-title {
  color: rgb(165, 32, 15);
  margin-left: 6px;
  margin-bottom: 5px;
}

.ingredient-list {
  padding: 10px 0 10px 25px;
  list-style-type: square;
  color: rgb(165, 32, 15);
  border: 1px solid;
  border-radius: 10px;
}

.instructions-text {
  padding: 10px 15px 10px 15px;
  color: rgb(165, 32, 15);
  border: 1px solid;
  border-radius: 10px;
}

.video-title {
  margin-left: 26px;
  margin-bottom: 5px;
  color: rgb(165, 32, 15);
}

.yt-container {
  text-align: center;
  margin-bottom: 30px;
}

.yt-container iframe {
  width: 94%;
  border: none;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
}

.rec-container {
  margin: 10px 20px 30px 20px;
}

.rec-title {
  margin-left: 6px;
  color: rgb(165, 32, 15);
}

.recommendation-carousel {
  color: rgb(165, 32, 15);
}
