body {
  background-color: rgb(255,238,210);
}
.title-login {
  margin-top: 15%;
  color: rgb(165,32,15);
  text-align: center;
}
.foto-capa {
  width: 100%;
  height: auto;
  bottom: 0px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  gap: 10px;
}
.form-container input {
  padding: 15px;
  border-color: rgb(253,214,175);
  border-radius: 15px;
  box-shadow: none;
}

.btn-login {
  border: none;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(226,153,61);
  color: rgb(165,32,15);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.btn-login:disabled {
  border: none;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(226,153,61, 0.4);
  color: rgb(165,32,15, 0.4);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}