.pic-profile {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.profile-email {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px 0;
  color: rgb(165,32,15);
}
.butn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(221, 101, 38, 0.5);
}
.profile-btn {
  color: rgb(221,101,38);
  border: none;
  background-color: rgb(253,214,175);
  font-size: large;
  cursor: pointer;
}