body {
  background-color: rgb(255, 238, 210);
}

.titleLogin {
  margin-top: 5%;
  margin-bottom: 10px;
  color: var(--red-700);
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  gap: 10px;
}

.formContainer input {
  padding: 15px;
  border-color: var(--brown-300);
  border-radius: 15px;
  box-shadow: none;
}

.btnLogin {
  border: none;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--orange-300);
  color: var(--red-700);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.btnLogin:disabled {
  border: none;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(226, 153, 61, 0.4);
  color: var(--red-700);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.backPhoto {
  width: 100%;
  max-height: 50%;
  bottom: 0px;
  position: fixed;
}